<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Folders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list [hidden]="!renderList">
      <ion-list-header lines="inset">
        <ion-title>Inbox</ion-title>
      </ion-list-header>
      <ion-item class="pointer" *ngFor="let folder of folders" (click)="openFolder(folder.id)">
        <ion-icon slot="start" [ios]="folder.icon + '-outline'" [md]="folder.icon + '-sharp'"></ion-icon>
        <ion-label>{{ folder.name }}</ion-label>
        <ion-badge slot="end">{{ folder.emails > 99 ? '99+' : folder.emails }}</ion-badge>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
